<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/admin/fragments :: header">

</head>
<!--
`body` tag options:
  Apply one or more of the following classes to to the body tag
  to get the desired effect
  * sidebar-collapse
  * sidebar-mini
-->

<body class="hold-transition sidebar-mini">
	<div ng-app="myblog" ng-controller="blog-ctrl" class="wrapper">
		<!---->
		<nav class="main-header navbar navbar-expand navbar-white navbar-light" th:replace="/admin/fragments :: navbar">
		</nav>
		<aside th:replace="/admin/fragments :: sidebar">
		</aside>

		<div class="content-wrapper">
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<nav class="navbar navbar-light bg-light">
							  <form class="form-inline">
							    <input class="form-control mr-sm-2" type="search" placeholder="Search"
							    	ng-model="form.keyword" aria-label="Search">
							    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
							    	ng-click="search(form.keyword)">Search</button>
							  </form>
							</nav>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
							</ol>
						</div>
					</div>
				</div>
			</div>

			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<table class="table table-striped">
							<thead>
								<tr class="h5">
									<th class="align-middle" scope="col">#</th>
									<th class="align-middle" scope="col">Title</th>
									<th class="align-middle" scope="col">Image</th>
									<th class="align-middle" scope="col">Description</th>
									<th class="align-middle" scope="col">Account</th>
									<th class="align-middle" scope="col">Status</th>
									<th class="align-middle" scope="col">Edit</th>
								</tr>
							</thead>
							<tbody ng-repeat="item in pager.items">
								<tr class="h6">
									<th class="align-middle" scope="row">{{item.blog_id}}</th>
									<td class="align-middle">{{item.title}}</td>
									<td class="align-middle">
										<img alt="" th:src="@{|/photos/blogs/{{item.image}}|}" style="width: 100px; height: 100px;"></td>
									<td class="align-middle" th:text="'{{item.description.substring(0, 20)}}' + '...'"></td>
									<td class="align-middle">{{item.account.username}}</td>
									<td class="badge badge-success mt-5" ng-if="item.is_enable == false" th:text="'Is Enable'"></td>
									<td class="badge badge-danger mt-5" ng-if="item.is_enable == true" th:text="'Is Disable'"></td>
									<td>
										<a class="btn btn-primary align-center" style="margin-top:35px" ng-click="edit(item)"
											th:text="'Edit'"></a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="panel-footer" style="margin-left:400px;margin-bottom:20px">
							<button ng-click="pager.first()" class="btn btn-danger">
								<< </button>
									<button ng-click="pager.prev()" class="btn btn-primary">
										< </button>
											<button class="btn btn-success">{{pager.page + 1}} of
												{{pager.count}}</button>
											<button ng-click="pager.next()" class="btn btn-primary">
												>
											</button>
											<button ng-click="pager.last()" class="btn btn-danger">
												>>
											</button>
						</div>
						<div class="col-12">
							<!-- general form elements -->
							<div id="form" class="card card-primary">
								<div class="card-header">
									<h3 class="card-title">Blog Details</h3>
								</div>
								<form >
									<div class="card-body">
										<div class="row">
											<div class="col-8">
												<div style="display:none" class="form-group">
													<label for="title">Id</label>
													<input ng-model="form.blog_id" type="text" class="form-control"
														id="blog_id" name="blog_id" placeholder="Blog Title">
												</div>
												<div class="form-group">
													<label for="title">Title</label>
													<input ng-model="form.title" type="text" class="form-control"
														id="title" name="name" placeholder="Blog Title">
												</div>
												<div class="form-group col-md-4">
													<label for="account">Account:[[${#request.remoteUser}]]</label>
												<!--	<select id="account" 
														class="form-control" name="account"   >
														<option  ng-repeat="b in accounts"  ng-value="b.account_id">{{b.username}}</option>
													</select>-->
												</div>
												<div class="form-group">
													<label for="description">Description</label>
													<textarea ng-model="form.description" class="form-control"
														id="description" rows="4" name="description"></textarea>
												</div>
												<fieldset style="display:none" class="form-group row">
													<legend class="col-form-label col-sm-2 float-sm-left pt-0">Status:
													</legend>
													<div class="col-sm-8 ml-3">
														<div class="form-check">
															<input ng-model="form.is_enable" ng-value="false"
																class="form-check-input" type="radio" id="gridRadios1"
																name="is_enable">
															<label class="form-check-label" for="gridRadios1">
																Enable
															</label>
														</div>
														<div class="form-check">
															<input ng-model="form.is_enable" ng-value="true"
																class="form-check-input" type="radio" id="gridRadios2"
																 name="is_enable">
															<label class="form-check-label" for="gridRadios2">
																Disable
															</label>
														</div>
													</div>
												</fieldset>
											</div>
											<div class="col-4">
												<!---->
												<div class="card card-primary card-outline">
													<div class="card-body box-profile">
														<div class="text-center">
															<!--<img name="image" ng-src="{{'/user/img/product/' + form.image}"  id="output" class="profile-user-img img-fluid img-circle" style="width: 212px; height: 212px" alt="User profile picture" >-->
															<img ng-src="{{'/photos/blogs/' + form.image}}"
																style="max-width:100%;" height="200px">
														</div>
														<input type="file" class="form-control" id="image"
															onchange="angular.element(this).scope().imageChanged(this.files)">
														<br />
														<div class="form-group">
															<label for="inputFile">Avatar</label>
															<div class="input-group">
																<div class="custom-file">
																	<!--    <p><input onchange="angular.element(this).scope().imageChanged(this.files)"  path="image" type="file" accept="image/*" name="imageFile" id="file"  style="display: none;"></p>
									    							<p><label for="file" style="cursor: pointer;">Upload Image</label></p>-->
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="form-row p-2">
										<button ng-if="form.is_enable==null" ng-click="create()" class="btn btn-primary mr-3">
											<b class="glyphicon glyphicon-plus"></b>Create
										</button>
										<button ng-if="form.is_enable!=null" ng-click="update()" class="btn btn-warning mr-3">
											<b class="glyphicon glyphicon-save"></b>Update
										</button>
										<button ng-if="form.is_enable==false" ng-click="delete()" class="btn btn-danger mr-3">
											<b class="glyphicon glyphicon-trash"></b>Delete
										</button>
										<button ng-if="form.is_enable==true" ng-click="updateLogical()" class="btn btn-success mr-3">
											<b class="glyphicon glyphicon-trash"></b>Enable
										</button>
										<button ng-click="reset()" class="btn btn-info">
											<b class="glyphicon glyphicon-refresh"></b>Reset
										</button>
									</div>
								</form>

							</div>
							<!-- /.card -->
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>

	</div>
	<!-- ./wrapper -->

	<!-- REQUIRED SCRIPTS -->


	<div th:replace="/admin/fragments :: scripts">
	</div>

	<script>
		const app = angular.module("myblog", []);
		app.controller("blog-ctrl", function ($scope, $http) {
			
			$scope.items = [];
			$scope.accounts = [];
			$scope.form = {};
			
			$scope.initialize = function () {
				
				//load products
				$http.get("/rest/blogs").then(resp => {
					$scope.items = resp.data;
					$scope.items.forEach(item => {
						$scope.form.image = "user.png";
					})
					
				});
				//load categories trong combobox form admin
				$http.get("/rest/accounts/enable").then(resp => {
					$scope.accounts = resp.data;
				})
			}
			//Khởi đầu
			$scope.initialize();

			//Xóa form
			$scope.reset = function () {
				$scope.form = {
					//is_enable: true,
					image: "user.png",
				}
			}
			// Search by keyword
			$scope.search = function (keyword) {
				//var keyword = $scope.form.keyword;
				$http.get(`/rest/blogs/keyword/${keyword}`).then(resp => {		
					$scope.items = resp.data;
				});
			}

			//Hiển thị lên form
			$scope.edit = function (item) {
				$scope.form = angular.copy(item);
				//Chuyển sang tab form
				//$(".nav-tabs a:eq(0)").tab("show");
				$('html, body').animate({
					scrollTop: $('#form').offset().top
				}, 1000);
			}

			//Thêm sản phẩm mới
			$scope.create = function () {
				for (var i = 0; i < $scope.items.length; i++) {
		             if($scope.form.title == $scope.items[i].title){
		             	alert("Bài viết này đã tồn tại");
		               	return;
		             }
	            }
				if(document.getElementById("title").value == ""){
					alert("Chưa nhập tiêu đề");
					return;
				}else if(document.getElementById("description").value == ""){
					alert("Chưa nhập mô tả");
					return;
				}else if(document.getElementById("description").value.length < 100){
					alert("Mô tả phải ít nhất 100 kí tự");
					return;
				}else{
					$scope.form.is_enable = false;
					var item = angular.copy($scope.form);
				}
				/*if(document.getElementById("image").value == ""){
					alert("Chưa chọn hình");
					return;
				}*/
				$http.post(`/rest/blogs`, item).then(resp => {
					$scope.items.push(resp.data);
					$scope.reset();
					alert("Thêm mới blog thành công!");
					location.reload();
				}).catch(error => {
					alert("Lỗi thêm mới blog!");
					console.log("Error", error);
				});
			}



			//Cập nhật sản phẩm
			$scope.update = function () {
				for (var i = 0; i < $scope.items.length; i++) {
		             if($scope.form.title == $scope.items[i].title && $scope.form.blog_id != $scope.items[i].blog_id){
		             	alert("Bài viết này đã tồn tại");
		               	return;
		             }
	            }
				if(document.getElementById("title").value == ""){
					alert("Chưa nhập tiêu đề");
					return;
				}else if(document.getElementById("description").value == ""){
					alert("Chưa nhập ghi chú");
					return;
				}else if(document.getElementById("description").value.length < 100){
					alert("Mô tả phải ít nhất 100 kí tự");
					return;
				}else{
					$scope.form.is_enable = false;
					var item = angular.copy($scope.form);
				}
				/*if(document.getElementById("image").value == ""){
					alert("Chưa chọn hình");
					return;
				}*/
				$http.put(`/rest/blogs/${item.blog_id}`, item).then(resp => {
					var index = $scope.items.findIndex(p => p.id == item.id);
					$scope.items[index] = item;
					alert("Cập nhật blog thành công!");
					location.reload();
				})
					.catch(error => {
						alert("Lỗi cập nhật blog!");
						console.log("Error", error);
					});
			}

			//Xóa sản phẩm
			$scope.delete = function (item) {
				var item = angular.copy($scope.form);
				if (confirm("Bạn muốn xóa blog này?")) {
					$http.put(`/rest/blogs/deleteLogical/${item.blog_id}`, item).then(resp => {
						var index = $scope.items.findIndex(p => p.id == item.id);
						$scope.items[index] = item;
						$scope.reset();
						alert("Xóa blog thành công!");
						location.reload();
					}).catch(error => {
						alert("Lỗi xóa blog!");
						console.log("Error", error);
					})
				}
			}
			//Cập nhật tình trạng
			$scope.updateLogical = function (item) {
				//$scope.form.is_enable = true;
				var item = angular.copy($scope.form);
				if (confirm("Bạn muốn khôi phục blog này?")) {
					$http.put(`/rest/blogs/updateLogical/${item.blog_id}`, item).then(resp => {
						var index = $scope.items.findIndex(p => p.id == item.id);
						$scope.items[index] = item;
						$scope.reset();
						alert("Khôi phục blog thành công!");
						location.reload();
					}).catch(error => {
						alert("Lỗi bật hoạt động người dùng!");
						console.log("Error", error);
					})
				}
			}
			//Upload hình
			$scope.imageChanged = function (files) {
				var data = new FormData();
				data.append('file', files[0]);
				$http.post('/rest/upload/blog/images', data, {
					transformRequest: angular.identity,
					headers: {'Content-Type': undefined}
				}).then(resp => {
					$scope.form.image = resp.data.name;
				}).catch(error => {
					alert("Lỗi upload hình ảnh");
					console.log("Error", error);
				})
			}


			//Phân trang
			$scope.pager = {
				page: 0,
				size: 5,
				get items() {
					var start = this.page * this.size;
					return $scope.items.slice(start, start + this.size)
				},
				get count() {
					return Math.ceil(1.0 * $scope.items.length / this.size);
				},
				first() {
					this.page = 0;
				},
				prev() {
					this.page--;
					if (this.page < 0) {
						this.last();
					}
				},
				next() {
					this.page++;
					if (this.page >= this.count) {
						this.first();
					}
				},
				last() {
					this.page = this.count - 1;
				},

			}

		});
	</script>
</body>

</html>