<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/fragments :: header">
  
</head>
<!--
`body` tag options:
  Apply one or more of the following classes to to the body tag
  to get the desired effect
  * sidebar-collapse
  * sidebar-mini
-->
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light" th:replace="/admin/fragments :: navbar">
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside th:replace="/admin/fragments :: sidebar">
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
         	<!-- WRITE TITLE OF PAGE IN FUTURE -->
         	
         	
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <!-- WRITE LINK OF PAGE IN FUTURE -->
              
           		 
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
        
        <!-- CONTENT -->
        <div class="alert alert-danger h-20 col-5 my-4 mx-1 text-center h4" role="alert" 
				th:if="${error}">
  				<p th:text="${error}"></p>
			</div>
        	
        	<!-- form add category -->
        	<div class="mx-3">
	        	<form th:action="@{/add-new-product}" method="post" >
				  <div class="form-group">
				    <label for="inputAddress">Name</label>
				    <input type="text" class="form-control" id="inputAddress" name="name"
				    	placeholder="Discount Name">
				  </div>
				  <div class="form-group">
				    <label for="inputAddress2">Price</label>
				    <input type="number" class="form-control" id="inputAddress2"
				    	name="price" >
				  </div>
				  
				  <div class="form-row">
				    <div class="form-group col-md-6">
				      <label for="inputQuantity">Quantity</label>
				      <input type="number" class="form-control" id="inputQuantity" name="quantity">
				    </div>
				    <div class="form-group col-md-6">
				      <label for="inputWeight">Weight</label>
				      <input type="number" step="0.1" class="form-control" id="inputWeight" name="weight">
				    </div>
				  </div>
				  <div class="form-group col-md-4">
      				<label for="inputBrand">Brand</label>
				      <select id="inputBrand" class="form-control" name="brand">
				        <option th:each="brand : ${brands}"  
				        	th:text="${brand.name}" th:value="${brand.brand_id}"></option>
				      </select>
			    	</div>
			    	
			    	
			    	<div class="form-group col-md-4">
				      <label for="inputDiscount">Discount</label>
				      <select id="inputDiscount" class="form-control" name="discount">
				        <option th:each="discount : ${discounts}" 
				        	th:text="${discount.name}" th:value="${discount.discount_id}"></option>
				      </select>
				    </div>
				    <div class="form-group col-md-4">
				      <label for="inputCategory">Category</label>
				      <select id="inputCategory" class="form-control" name="category">
				        <option th:each="category : ${categories}" 
				        	th:text="${category.name}" th:value="${category.category_id}"></option>
				      </select>
				    </div>
				    
				    
				  <fieldset class="form-group row">
				    <legend class="col-form-label col-sm-2 float-sm-left pt-0">Status:</legend>
				    <div class="col-sm-8 ml-3">
				      <div class="form-check">
				        <input class="form-check-input" type="radio" id="gridRadios1" value="true" checked
				        	name="is_enable">
				        <label class="form-check-label" for="gridRadios1">
				          Enable
				        </label>
				      </div>
				      <div class="form-check">
				        <input class="form-check-input" type="radio" id="gridRadios2" value="false"
				        	name="is_enable">
				        <label class="form-check-label" for="gridRadios2">
				          Unenable
				        </label>
				      </div>
				    </div>
				  </fieldset>
				  
				  <div class="form-group">
				    <label for="inputDescription">Example textarea</label>
				    <textarea class="form-control" id="inputDescription" rows="4" name="description"></textarea>
				  </div>
				 
				 <!--  
				  <div class="form-group">
    				<label for="exampleFormControlFile1">Example file input</label>
    				<input type="file" class="form-control-file" id="exampleFormControlFile1">
  				  </div>
  				   -->
				  <button type="submit" class="btn btn-primary">Add</button>
				</form>
        	</div>
   
            
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2021-2022 <a href="">Fruits Shop</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.2.0
    </div>
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

	
<div th:replace="/admin/fragments :: scripts">
</div>

</body>
</html>