<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/fragments :: header">
  
</head>
<!--
`body` tag options:
  Apply one or more of the following classes to to the body tag
  to get the desired effect
  * sidebar-collapse
  * sidebar-mini
-->
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light" th:replace="/admin/fragments :: navbar">
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside th:replace="/admin/fragments :: sidebar">
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
         	<!-- WRITE TITLE OF PAGE IN FUTURE -->
         	
         	
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <!-- WRITE LINK OF PAGE IN FUTURE -->
              
           		 
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
        
        <!-- CONTENT -->
        <div class="alert alert-danger h-20 col-5 my-4 mx-1 text-center h4" role="alert" 
				th:if="${error}">
  				<p th:text="${error}"></p>
			</div>
        	
        	<!-- form add category -->
        	<div class="mx-3">
	        	<form th:action="@{/update-brand/{id}(id = ${brand.brand_id})}" method="post" th:object="${brand}">
				  <div class="form-group">
				    <label for="inputAddress">Name</label>
				    <input type="text" class="form-control" id="inputAddress" name="name"
				    	placeholder="Brand Name" th:field="*{name}">
				  </div>
				  <fieldset class="form-group row">
				    <legend class="col-form-label col-sm-2 float-sm-left pt-0">Status:</legend>
				    <div class="col-sm-8 ml-3">
				      <div class="form-check">
				        <input class="form-check-input" type="radio" id="gridRadios1" value="true" checked
				        	name="is_enable" th:field="*{is_enable}">
				        <label class="form-check-label" for="gridRadios1">
				          Enable
				        </label>
				      </div>
				      <div class="form-check">
				        <input class="form-check-input" type="radio" id="gridRadios2" value="false"
				        	name="is_enable" th:field="*{is_enable}">
				        <label class="form-check-label" for="gridRadios2">
				          Unenable
				        </label>
				      </div>
				    </div>
				  </fieldset>
				  <button type="submit" class="btn btn-primary">Update</button>
				</form>
        	</div>
   
            
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2021-2022 <a href="">Fruits Shop</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.2.0
    </div>
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

	
<div th:replace="/admin/fragments :: scripts">
</div>

</body>
</html>