<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/admin/fragments :: header">

</head>
<!--
`body` tag options:
  Apply one or more of the following classes to to the body tag
  to get the desired effect
  * sidebar-collapse
  * sidebar-mini
-->

<body class="hold-transition sidebar-mini" >
	<div class="wrapper">
		<!-- Navbar -->
		<nav class="main-header navbar navbar-expand navbar-white navbar-light" th:replace="/admin/fragments :: navbar">
		</nav>
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->
		<aside th:replace="/admin/fragments :: sidebar">
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				
			<!-- Main content -->
					<div class="row">
						<section class="col-lg-12 connectedSortable">
							<!-- solid sales graph -->
							<div class="card">
								<div class="card-header border-0">
									<h3 class="card-title">
										<i class="fas fa-th mr-1"></i>
										Hàng Tồn Kho
									</h3>

									<div class="card-tools">
										<button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">
											<i class="fas fa-minus"></i>
										</button>
										<button type="button" class="btn bg-info btn-sm" data-card-widget="remove">
											<i class="fas fa-times"></i>
										</button>
									</div>
								</div>

								<div class="card-body">
									<h3>TỒN KHO THEO LOẠI</h3>
									<table class="table table-bordered table-striped " border="1" style="width:100%">
										<tr>
											<th class="table-dark">Tên hàng</th>
											<th class="table-dark">Tổng giá</th>
											<th class="table-dark">Số sản phẩm</th>
											<th class="table-dark">Chi tiết</th>
										</tr>
										<tr th:each="item:${Inventory}">
											<td>[[${item.group}]]</td>
											<td>[[${#numbers.formatDecimal(item.sum, 0, 'COMMA', 0, 'POINT')}]]đ</td>
											<td>[[${item.count}]]</td>
											<td><a th:href="@{|/admin/inventory/${item.group}|}" class="btn btn-primary align-center">Chi tiết</a></td>
										</tr>
									</table>
								</div>
								<div class="card-body">
									<h3>TỒN KHO THEO LOẠI CHI TIẾT</h3>
									<table class="table table-bordered table-striped " border="1" style="width:100%">
										<tr>
											<th class="table-dark">Tên hàng</th>
											<th class="table-dark">Tổng giá</th>
											<th class="table-dark">Số sản phẩm</th>
										</tr>
										<tr th:each="item:${inventoryDetail}">
											<td>[[${item.group}]]</td>
											<td>[[${#numbers.formatDecimal(item.sum, 0, 'COMMA', 0, 'POINT')}]]đ</td>
											<td>[[${item.count}]]</td>
										</tr>
									</table>
								</div>
						</section>
					</div>
				</div>

			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->


	<!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
		<!-- Control sidebar content goes here -->
	</aside>
	<!-- /.control-sidebar -->

	</div>
	<!-- ./wrapper -->

	<!-- REQUIRED SCRIPTS -->


	<div th:replace="/admin/fragments :: scripts">
	</div>

</body>

</html>