<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/admin/fragments :: header">

</head>
<!--
`body` tag options:
  Apply one or more of the following classes to to the body tag
  to get the desired effect
  * sidebar-collapse
  * sidebar-mini
-->

<body class="hold-transition sidebar-mini">
	<div ng-app="mybrand" ng-controller="brand-ctrl" class="wrapper">
		<!---->
		<nav class="main-header navbar navbar-expand navbar-white navbar-light" th:replace="/admin/fragments :: navbar">
		</nav>
		<aside th:replace="/admin/fragments :: sidebar">
		</aside>

		<div class="content-wrapper">
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
							</ol>
						</div>
					</div>
				</div>
			</div>

			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<table class="table table-striped">
							<thead>
								<tr class="h4">
									<th class="align-middle" scope="col">#</th>
									<th class="align-middle" scope="col">Name</th>
									<th class="align-middle" scope="col">Status</th>
									<th class="align-middle" scope="col">Edit</th>
								</tr>
							</thead>
							<tbody ng-repeat="item in pager.items">
								<tr class="h5">
									<th class="align-middle" scope="row">{{item.brand_id}}</th>
									<td class="align-middle">{{item.name}}</td>
									<td class="align-middle" th:if="item.is_enable == true" th:text="'Is Enable'">
									</td>
									<td class="align-middle" th:if="item.is_enable != false" th:text="'Is Disable'"></td>
									<td>
										<a class="btn btn-primary my-2 align-center" ng-click="edit(item)"
											th:text="'Edit'"></a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="panel-footer" style="margin-left:400px;margin-bottom:20px">
							<button ng-click="pager.first()" class="btn btn-danger">
								<< </button>
									<button ng-click="pager.prev()" class="btn btn-primary">
										< </button>
											<button class="btn btn-success">{{pager.page + 1}} of
												{{pager.count}}</button>
											<button ng-click="pager.next()" class="btn btn-primary">
												>
											</button>
											<button ng-click="pager.last()" class="btn btn-danger">
												>>
											</button>
						</div>
						<div class="col-12">
							<!-- general form elements -->
							<div id="form" class="card card-primary">
								<div class="card-header">
									<h3 class="card-title">User Details</h3>
								</div>
								<form >
									<div class="card-body">
										<div class="row">
											<div class="col-8">
												<div class="form-group">
													<label for="inputName">Name</label>
													<input ng-model="form.name" type="text" class="form-control"
														id="inputAddress" name="name" placeholder="Brand Name">
												</div>
												<fieldset class="form-group row">
													<legend class="col-form-label col-sm-2 float-sm-left pt-0">Status:
													</legend>
													<div class="col-sm-8 ml-3">
														<div class="form-check">
															<input ng-model="form.is_enable" ng-value="true"
																class="form-check-input" type="radio" id="gridRadios1"
																ng-checked name="is_enable">
															<label class="form-check-label" for="gridRadios1">
																Enable
															</label>
														</div>
														<div class="form-check">
															<input ng-model="form.is_enable" ng-value="false"
																class="form-check-input" type="radio" id="gridRadios2"
																value="false" name="is_enable">
															<label class="form-check-label" for="gridRadios2">
																Unenable
															</label>
														</div>
													</div>
												</fieldset>
											</div>
									<div class="form-row p-2 col-5">
										<button ng-click="create()" class="btn btn-primary">
											<b class="glyphicon glyphicon-plus"></b>Create
										</button>
										<button ng-click="update()" class="btn btn-success">
											<b class="glyphicon glyphicon-save"></b>Update
										</button>
										<button ng-click="delete()" class="btn btn-danger">
											<b class="glyphicon glyphicon-trash"></b>Delete
										</button>
										<button ng-click="reset()" class="btn btn-info">
											<b class="glyphicon glyphicon-refresh"></b>Reset
										</button>
									</div>
								</form>

							</div>
							<!-- /.card -->
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->

		<!-- Main Footer -->
		<footer class="main-footer">
			<strong>Copyright &copy; 2021-2022 <a href="">Fruits Shop</a>.</strong>
			All rights reserved.
			<div class="float-right d-none d-sm-inline-block">
				<b>Version</b> 3.2.0
			</div>
		</footer>
	</div>
	<!-- ./wrapper -->

	<!-- REQUIRED SCRIPTS -->


	<div th:replace="/admin/fragments :: scripts">
	</div>
	<script>
		const app = angular.module("mybrand", []);
		app.controller("brand-ctrl", function ($scope, $http) {
			
			$scope.items = [];
			$scope.form = {};
			
			$scope.initialize = function () {
				//load products
				$http.get("/rest/brands").then(resp => {
					$scope.items = resp.data;
					$scope.items.forEach(item => {
						//$scope.form.image = "user.png";
					})
				});

			}
			
			//Khởi đầu
			$scope.initialize();

			//Xóa form
			$scope.reset = function () {
				$scope.form = {
					is_enable: true,
				}
			}

			//Hiển thị lên form
			$scope.edit = function (item) {
				$scope.form = angular.copy(item);
				//Chuyển sang tab form
				//$(".nav-tabs a:eq(0)").tab("show");
				$('html, body').animate({
					scrollTop: $('#form').offset().top
				}, 1000);
			}

			//Thêm sản phẩm mới
			$scope.create = function () {
				var item = angular.copy($scope.form);
				$http.post(`/rest/brands`, item).then(resp => {
					$scope.items.push(resp.data);
					$scope.reset();
					alert("Thêm mới sản phẩm thành công!");
				}).catch(error => {
					alert("Lỗi thêm mới sản phẩm!");
					console.log("Error", error);
				});
			}



			//Cập nhật sản phẩm
			$scope.update = function () {
				var item = angular.copy($scope.form);
				$http.put(`/rest/brands/${item.brand_id}`, item).then(resp => {
					var index = $scope.items.findIndex(p => p.id == item.id);
					$scope.items[index] = item;
					alert("Cập nhật sản phẩm thành công!");
				})
					.catch(error => {
						alert("Lỗi cập nhật sản phẩm!");
						console.log("Error", error);
					});
			}

			//Xóa sản phẩm
			$scope.delete = function (item) {
				var item = angular.copy($scope.form);
				if (confirm("Bạn muốn xóa sản phẩm này?")) {
					$http.delete(`/rest/brands/${item.brand_id}`).then(resp => {
						var index = $scope.items.findIndex(p => p.id == item.id);
						$scope.items.splice(index, 1);
						$scope.reset();
						alert("Xóa sản phẩm thành công!");
					}).catch(error => {
						alert("Lỗi xóa sản phẩm!");
						console.log("Error", error);
					})
				}
			}


			//Phân trang
			$scope.pager = {
				page: 0,
				size: 10,
				get items() {
					var start = this.page * this.size;
					return $scope.items.slice(start, start + this.size)
				},
				get count() {
					return Math.ceil(1.0 * $scope.items.length / this.size);
				},
				first() {
					this.page = 0;
				},
				prev() {
					this.page--;
					if (this.page < 0) {
						this.last();
					}
				},
				next() {
					this.page++;
					if (this.page >= this.count) {
						this.first();
					}
				},
				last() {
					this.page = this.count - 1;
				},

			}

		});
	</script>
</body>

</html>