<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- icon thanh địa chỉ -->
	<title>Đổi mật khẩu</title>
	<link th:href="@{/dashboard/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/dashboard/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/dashboard/css/ruang-admin.min.css}" rel="stylesheet">

	<!-- css customize -->
	<link th:href="@{/dashboard/css/customer.style.css}" rel="stylesheet">
	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<!-- JQuery -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- boxicon -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script th:src="@{/dashboard/js/validation.js}"></script>
</head>

<body id="page-top" ng-app="myapp" ng-controller="myctrl">
	<div id="wrapper">
		<!-- Sidebar -->
		<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
			<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index"
				style="background-color: #10ac84;">
				<div class="sidebar-brand-icon">
					<img th:src="@{/user/img/logo3.png}" height="33px">
				</div>
			</a>
			<hr class="sidebar-divider my-0">
			<li class="nav-item">
				<a class="nav-link" href="/index">
					<i class='bx bxs-home'></i>
					<span>Trang chủ</span></a>
			</li>
			<hr class="sidebar-divider">
			<div class="sidebar-heading">
				Thông tin khách hàng
			</div>
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/user/infor}">
					<i class='bx bxs-user-rectangle'></i>
					<span>Thông tin cá nhân</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/user/detailInfor}">
					<i class='bx bx-edit'></i>
					<span>Chỉnh sửa thông tin</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/user/change-password}">
					<i class='bx bxs-lock-alt'></i>
					<span>Đổi mật khẩu</span>
				</a>
			</li>
			<hr class="sidebar-divider">
			<li class="nav-item">
				<a class="nav-link collapsed" data-toggle="modal" data-target="#logoutModal">
					<i class='bx bx-log-out-circle'></i>
					<span>Đăng xuất</span>
				</a>
			</li>
		</ul>
		<!-- Sidebar -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<!-- TopBar -->
				<nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top"
					style="background-color: #7fad39;">
					<button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
						<i class="fa fa-bars"></i>
					</button>
				</nav>

				<!-- Container Fluid-->
				<div class="container-fluid customer-information height-change-password" id="container-wrapper">
					<div class="d-sm-flex justify-content-between mb-4 title">
						<h1 class="h3 mb-0 text-gray-800">Đổi mật khẩu</h1>
					</div>
					<!-- row info -->
					<div th:if="${message!=null}">
						<div th:text="${message}" class="alert alert-success text-center" role="alert"></div>
					</div>
				<!--	<div th:if="${error!=null}">
						<div th:text="${error}" class="alert alert-danger text-center" role="alert"></div>
					</div>-->
					<div class="information-box">
						<!-- edit information -->
						<div class="row box box-border">
							<div class="col-6" style="text-align: center; align-items: center;">
								<i class='bx bxs-shield-alt-2' style="font-size: 300px;"></i>
							</div>
						<form   name="frmChangePW" id="form" th:action="@{/user/change-password}" method="POST"  class="col-6">
								<div class="m-3">
									<p class="text-danger"></p>
								</div>
								<div class="form-group">
									<input th:value="${account.username}" type="hidden" name="username"
										id="username" class="form-control">
								</div>
								<div class="form-group">
									<input th:value="${account.account_id}" type="hidden" name="id"
										id="account_id" class="form-control">
								</div>
								<div class="form-group">
									<label for="oldPassword"><i class='bx bxs-lock-alt'></i> Mật khẩu cũ</label>
									<input ng-model="oldPassword" required minlength="6"  type="password" name="oldPassword" id="oldPassword" class="form-control">
									<div class="text-danger font-italic"  ng-show="frmChangePW.oldPassword.$touched && frmChangePW.oldPassword.$invalid">Mật khẩu phải 6 kí tự trở lên</div>
									<div class="text-danger font-italic">[[${errorOld}]]</div>
								</div>
								<div class="form-group">
									<label for="newPassword"><i class='bx bxs-lock-open-alt'></i> Mật khẩu mới</label>
									<input ng-model="newPassword" required minlength="6" type="password" name="newPassword" id="newPassword" class="form-control">
									<div class="text-danger font-italic" ng-show="frmChangePW.newPassword.$touched && frmChangePW.newPassword.$invalid">Mật khẩu phải 6 kí tự trở lên</div>
									<div class="text-danger font-italic">[[${error}]]</div>
								</div>
								<div class="form-group">
									<label for="password"><i class='bx bx-lock-alt'></i> Nhập lại mật khẩu</label>
									<input ng-model="password" required minlength="6" type="password" id="password" name="password" class="form-control">
									<div class="text-danger font-italic" ng-show="frmChangePW.password.$touched && frmChangePW.password.$invalid">Mật khẩu phải 6 kí tự trở lên</div>
									<div class="text-danger font-italic" >[[${errorConfirm}]]</div>
									<p id="message-check" style="margin-top: 10px"></p>
									<div style="margin-top: 20px;">
										<button type="submit" class="btn btn-primary btn-w-100">Lưu</button>
									</div>
								</div>
							</form>
						</div>
						<!-- end row info -->
					</div>
				</div>

				<!-- Footer -->
				<footer class="sticky-footer bg-white">
					<div class="container my-auto">
						<div class="copyright text-center my-auto">
							<span>copyright &copy;
								<script>
									document.write(new Date().getFullYear());
								</script> - developed by
								<b><a href="https://indrijunanda.gitlab.io/" target="_blank">indrijunanda</a></b>
							</span>
						</div>
					</div>
				</footer>
				<!-- Footer -->

				<!-- Modal Logout -->
				<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabelLogout" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabelLogout">Ohh Không!</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p>Bạn có chắc mình muốn thoát?</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-outline-primary" data-dismiss="modal">Trở
									lại
								</button>
								<a th:href="@{/security/logoff}" class="btn btn-primary">Đăng xuất</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Scroll to top -->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>
	 <script>
	 	 var app = angular.module("myapp", []);
    	app.controller("myctrl", function($scope) {
	      
        });
	 </script>

	<script th:src="@{/dashboard/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/dashboard/vendor/jquery-easing/jquery.easing.min.js}"></script>
	<script th:src="@{/dashboard/js/ruang-admin.min.js}"></script>
	<script th:src="@{/dashboard/vendor/chart.js/Chart.min.js}"></script>


</body>

</html>