<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/index :: dynamic(~{::main})}">
<body>
<main>
    

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/user/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Thủ tục đặt hàng</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Trang chủ</a>
                            <span>Đặt hàng</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="h-100 h-custom" style="background: rgb(135,135,135);
background: linear-gradient(0deg, rgba(135,135,135,1) 0%, rgba(194,188,188,1) 100%);">
			<div class="container py-5 h-100">
				<div class="row d-flex justify-content-center align-items-center h-100">
				<h4 class="mb-3" th:text="#{img.detail}">CHI TIẾT ĐƠN HÀNG</h4>
					<div class="col-12">
						<div class="card card-registration card-registration-2"
							style="border-radius: 25px;">
							<div class="card-body p-0">
								<div class="row g-0">
									<div class="col-lg-8">
										<div class="p-5">
											<!-- product -->
											<div class="d-flex justify-content-between mb-1">
												<h3 class="fw-bold mb-1 mt-2 pt-1 text-uppercase" th:text="#{chk.title}">Thông tin của bạn</h3>
											</div>
											<hr class="my-4 bg-dark">	
											<form th:if="${account!=null}" name="checkout" action="#" th:object="${username}" onsubmit="return validateform()" id="checkout_form">
											  <div class="form-group" style="display:none">
											    <label for="account_id">Mã Người Mua Hàng</label><span class="text-danger">*</span>
										    	<input id="account_id" th:value="*{account_id}" type="text" class="form-control w-50" disabled="disabled">
										  	  </div>
											  <div class="form-row">
											    <div class="form-group col-md-6">
											      <label for="fullname" th:text="#{chk.name}">Họ Tên</label><span class="text-danger">*</span>
                                       			  <input th:value="*{fullname}" type="text" class="form-control" id="fullname" disabled>
											  	</div>
											  	<div class="form-group col-md-6">
											      <label for="email">Email</label><span class="text-danger">*</span>
											      <input th:value="*{email}" type="email" class="form-control" id="email" disabled>
											    </div>
											  </div>
  											  <div class="form-group">
											    <label for="phone"  th:text="#{chk.phone}">Số Điện Thoại</label><span class="text-danger">*</span>
											    <input name="phone" ng-model="order.phone" placeholder="Nhập số điện thoại của bạn" id="phone"  type="text" required class="form-control w-50">
											  </div>
											  <div class="form-group">
											    <label for="address" th:text="#{chk.address}">Địa chỉ</label><span class="text-danger">*</span>
                                       			<input class="form-control" name="address" th:field="${orderValidate.address}" placeholder="Nhập địa chỉ của bạn" ng-model="order.address" id="address"  type="text" required>
											  </div>
											  <div class="form-group">
											    <label for="exampleFormControlTextarea1" th:text="#{chk.note}">Ghi Chú Thêm</label>
											    <textarea class="form-control" ng-model="order.notes" type="text"
                                    			placeholder="Ví dụ: Giao hàng giờ hành chính" id="exampleFormControlTextarea1" rows="3"></textarea>
											  </div>											  
											</form>
											<!-- end product -->
											<form th:if="${account==null}" name="checkout" action="#" th:object="${session.currentUser}" onsubmit="return validateform()">
											  <div class="form-group" style="display:none">
											    <label for="account_id">Mã Người Mua Hàng</label><span class="text-danger">*</span>
										    	<input id="account_id" th:value="*{account_id}" type="text" class="form-control w-50" disabled="disabled">
										  	  </div>
											  <div class="form-row">
											    <div class="form-group col-md-6">
											      <label for="fullname" th:text="#{chk.name}">Họ Tên</label><span class="text-danger">*</span>
                                       			  <input th:value="*{fullname}" type="text" class="form-control" id="fullname" disabled>
											  	</div>
											  	<div class="form-group col-md-6">
											      <label for="email">Email</label><span class="text-danger">*</span>
											      <input th:value="*{email}" type="email" class="form-control" id="email" disabled>
											    </div>
											  </div>
  											  <div class="form-group">
											    <label for="phone" th:text="#{chk.phone}">Số Điện Thoại</label><span class="text-danger">*</span>
											    <input name="phone" ng-model="order.phone"  placeholder="Nhập số điện thoại của bạn" id="phone"  type="text" required class="form-control w-50">
											  </div>
											  <div class="form-group">
											    <label for="address" th:text="#{chk.address}">Địa chỉ</label><span class="text-danger">*</span>
                                       			<input class="form-control" name="address" th:field="${orderValidate.address}" placeholder="Nhập địa chỉ của bạn" ng-model="order.address" id="address"  type="text" required>
											  </div>
											  <div class="form-group">
											    <label for="exampleFormControlTextarea1" th:text="#{chk.note}">Ghi Chú Thêm</label>
											    <textarea class="form-control" ng-model="order.notes" type="text"
                                    			placeholder="Ví dụ: Giao hàng giờ hành chính" id="exampleFormControlTextarea1" rows="3"></textarea>
											  </div>	
											</form>
											<!--<div id="g-recaptcha" class="g-recaptcha" name="g-recaptcha" 
												data-sitekey="6LefqPYiAAAAAD7BOnrOZfFTOEuPbOjWnKGEKkc8">
												
											</div>	-->
											<div class="g-recaptcha" id="g-recaptcha"  name="g-recaptcha" data-sitekey="6LefqPYiAAAAAD7BOnrOZfFTOEuPbOjWnKGEKkc8"></div>
											<span id="captcha" style="margin-left:100px;color:red" />	
											<div class="pt-5">
											<hr class="my-4 bg-dark">
												<h5 class="mb-0 btn btn-info text-white">
													<a th:text="#{cart.btn4}" th:href="@{|/cart|}" class="">
													 <i class="bi bi-arrow-left-short"></i> 
														Quay về giỏ hàng
													</a>
												</h5>
											</div>
										</div>
									</div>
									<div class="col-lg-4"
										style="background-color: #7fad39; border-radius: 25px">
										<div class="p-5">
											<div class="d-flex justify-content-between mb-1">
												<h3 class="fw-bold mb-1 mt-2 pt-1 text-uppercase" th:text="#{chk.title2}">Hóa Đơn của bạn</h3>
											</div>
										<hr class="my-4">			
										<table class="table table-borderless">
										  <thead>
										    <tr>
										      <th class="fw-bold mb-1 mt-2 pt-1" th:text="#{chk.prd}">SP</th>
										      <th class="fw-bold mb-1 mt-2 pt-1" th:text="#{chk.qty}">SL</th>
										      <th class="fw-bold mb-1 mt-2 pt-1" th:text="#{chk.price}">Giá</th>
										    </tr>
										  </thead>
										  <tbody>
										    <tr ng-repeat="item in cart.items">
										      <td>{{item.name}}</td>
										      <td>{{item.qty}}</td>
										      <td>{{item.qty*(item.price - ((item.discount.discount *
														item.price)/100)) |number:0}} <sup>đ</sup></td>
										    </tr>
										   </tbody>
										  </table> 
											<hr class="my-4">
											<!-- chọn hình thức thanh toán -->
												<div class="d-flex justify-content-between mb-2 text-center">
													<h5 class="text-uppercase" th:text="#{chk.title3}">Phương thức thanh toán</h5>
												</div>
												<hr class="my-4">
                							<div class="payment-info">
											<div>
												<label class="radio">
												  <input id="acc-or" th:value="1" ng-model="order.payment_method.payment_method_id" type="radio" name="card"> 
												  <span class="checkmark"><img width="30" src="https://cdn1.iconfinder.com/data/icons/e-commerce-315/64/delivery_-shipping-_package-cod-truck-512.png"/> Thanh Toán Khi Nhận Hàng</span> 
												</label>
											</div>
											<div>
												 <label class="radio">
												 <input id="paypal" th:value="2" ng-model="order.payment_method.payment_method_id" type="radio" name="card"> 
												 <span class="checkmark"><img width="30" src="https://th.bing.com/th/id/OIP.QQeSPhhrF5uPeVQ1aISL-AAAAA?pid=ImgDet&w=300&h=190&rs=1"/></span> Thanh Toán Online Paypal</label>
											</div> 
											<hr class="my-4">
											<!-- Tính tiền hóa đơn -->
											<div class="d-flex justify-content-between mb-2">
												<h5 class="text-uppercase" th:text="#{cart.sum}">Tạm tính</h5>
												<h5>
													<span>{{cart.amount|number:0}}<sup>đ</sup></span>
												</h5>
											</div>
											<!--<div class="d-flex justify-content-between ">
												<h5 th:text="#{cart.ship}"
													ng-if="cart.amount>500000?shippingFee=0000000.1:shippingFee=35000"
													class="text-uppercase">Phí Giao Hàng</h5>
												<h5>
													<span>{{shippingFee|number:0}}<sup>đ</sup></span>
												</h5>
											</div>-->
											<hr class="my-4">

											<div class="d-flex justify-content-between mb-5">
												<h5 class="text-uppercase" th:text="#{cart.total}">Tổng tiền</h5>
												<h5>
													<span>{{cart.amount|number:0}}<sup>đ</sup></span>
												</h5>
											</div>
											
 											<div>
												<a ng-click="order.purchase()" class="btn btn-dark w-100 h-25 text-white">Đặt Hàng</a>
											</div>
										</div>
									</div>
								</div>
							</div>
					</div>
					</div>
				</div>
				</div>
			</div>
		</section>
		<script th:src="@{/user/js/jquery-3.3.1.min.js}"></script>
		<script>
		  function onSubmit(token) {
		    document.getElementById("checkout_form").submit();
		  }
    			//reCaptch verified
		</script>
		
</main>
    
    <script th:src="@{/user/js/bootstrap.min.js}"></script>
    <script th:src="@{/user/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/user/js/jquery-ui.min.js}"></script>
    <script th:src="@{/user/js/jquery.slicknav.js}"></script>
    <script th:src="@{/user/js/mixitup.min.js}"></script>
    <script th:src="@{/user/js/owl.carousel.min.js}"></script>
    <script th:src="@{/user/js/main.js}"></script>
</body>

</html>