<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/index :: dynamic(~{::main})}">

<body>
	<main>
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/user/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2 th:text="#{img.contact}">Liên hệ</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html" th:text="#{img.title}">Trang chủ</a>
                            <span th:text="#{img.contact}">Liên hệ</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_phone"></span>
                        <h4>Số điện thoại</h4>
                        <p>0901301277</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_pin_alt"></span>
                        <h4>Địa chỉ</h4>
                        <p>Toà Inovation, Phần Mềm Quang Trung, Quận 12, TP.HCM</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_clock_alt"></span>
                        <h4>Giờ mở cửa</h4>
                        <p>00:00 sáng đến 23:00 tối</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_mail_alt"></span>
                        <h4>Email</h4>
                        <p>fivehouse@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Map Begin -->
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d49116.39176087041!2d-86.41867791216099!3d39.69977417971648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886ca48c841038a1%3A0x70cfba96bf847f0!2sPlainfield%2C%20IN%2C%20USA!5e0!3m2!1sen!2sbd!4v1586106673811!5m2!1sen!2sbd"
            height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <div class="map-inside">
            <i class="icon_pin"></i>
            <div class="inside-widget">
                <h4>Thành Phố Hồ Chí Minh</h4>
                <ul>
                    <li>Số điện thoại: 0901301277</li>
                    <li>Địa chỉ: Toà Inovation, Phần Mềm Quang Trung, Quận 12, TP.HCM</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Map End -->

    <!-- Contact Form Begin 
    <div class="contact-form spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact__form__title">
                        <h2>Đóng góp ý kiến</h2>
                    </div>
                </div>
            </div>
            <form action="#">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <input type="text" placeholder="Tên bạn">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" placeholder="Địa chỉ Email">
                    </div>
                    <div class="col-lg-12 text-center ">
                        <textarea placeholder="Hãy đóng góp ý kiến"></textarea>
                        <button type="submit" class="site-btn font-weight-normal">Gửi</button>
                    </div>
                </div>
            </form>
        </div>
    </div>-->
    <!-- Contact Form End -->

   </main>

    <!-- Js Plugins -->
    <script th:src="@{/user/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/user/js/bootstrap.min.js}"></script>
    <script th:src="@{/user/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/user/js/jquery-ui.min.js}"></script>
    <script th:src="@{/user/js/jquery.slicknav.js}"></script>
    <script th:src="@{/user/js/mixitup.min.js}"></script>
    <script th:src="@{/user/js/owl.carousel.min.js}"></script>
    <script th:src="@{/user/js/main.js}"></script>



</body>

</html>