<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/index :: dynamic(~{::main})}">
<body>
    <main>
    <section class="breadcrumb-section set-bg" data-setbg="/user/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Lịch Sử Mua Hàng</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Trang Chủ</a>
                            <span>Lịch Sử Mua Hàng</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	[[${message}]]
    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container" >
        	<center th:if="${noOrder}!=null">
	        	<img th:src="@{/photos/order.png}" height="80px"/>
	        	<h3>[[${noOrder}]]</h3>
	        	 <!-- <h3>[[${noKW}]]</h3> -->
	        	 <a th:href="@{/order/list}" class="btn btn-warning text-uppercase">quay lại</a>
        	</center>
            <div class="row" th:if="${noOrder}==null">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <form th:action="@{/order/list}" class="form-inline my-2 my-lg-0">
					      <input name="oid" th:value="${oid}" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm</button>
					    </form>
                        <table>
                            <thead class="bg-warning">
                                <tr>
                                    <th class="shoping__product">STT</th>
                                    <th class="shoping__product">Mã đơn hàng</th>
                                    <th>Thời Gian</th>
                                    <th>Địa Chỉ</th>
                                    <th>Hình Thức TT</th>
                                    <th>Tình Trạng TT</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="order,state:${orders.content}">
                                    <td>[[${state.index + 1}]]</td>
                                    <td>[[${order.order_id}]]</td>
                                    <td><h4><span class="badge badge-primary">[[${#dates.format(order.orderdate,"dd-MM-yyyy hh:mm:ss")}]]</span></h4></td>
                                    <td>[[${order.address}]]</td>
                                    <td>[[${order.payment_method.name}]]</td>
                                    <td>
<h4 th:if="${order.orderStatus == 'Hoàn thành'}"><span class="badge badge-success" id="status">[[${order.orderStatus}]]</span></h4>
										<h4 th:if="${order.orderStatus == 'Đã hủy đơn'}"><span class="badge badge-danger" id="status">[[${order.orderStatus}]]</span></h4>
										<h4 th:if="${order.orderStatus == 'Chưa thanh toán'}"><span class="badge badge-warning" id="status">[[${order.orderStatus}]]</span></h4>
                                    </td>
                                    <td>
                                    	<a th:href="@{|/order/detail/${order.order_id}|}" class="btn btn-primary"><i class="bi bi-search"></i></a>
                                    </td>
                                    <td>
                                    	<a th:unless="${order.orderStatus == 'Đã hủy đơn' || order.orderStatus == 'Hoàn thành' || order.orderStatus == 'Chờ xác nhận hủy'}" th:href="@{|/cancel-order/${order.order_id}|}" class="btn btn-danger"><span class="icon_close"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div th:if="${orders.getTotalElements()} > 10" class="col-lg-12" style="margin-left:500px">
							<div class="product__pagination blog__pagination">
								<a th:href="@{/order/list?page=0}">
										<i class="bi bi-chevron-double-left"></i>
								</a>
								<a th:href="@{'/order/list?page='+${orders.number-1}}">
										<i class="bi bi-chevron-left"></i>
								</a>
								<a th:href="@{'/order/list?page='+${orders.number+1}}">
										<i class="bi bi-chevron-compact-right"></i>
								</a>
								<a th:href="@{'/order/list?page='+${orders.totalPages-1}}">
										<i class="bi bi-chevron-double-right"></i>
								</a>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
    <!-- Js Plugins -->
    <script th:src="@{/user/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/user/js/bootstrap.min.js}"></script>
    <script th:src="@{/user/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/user/js/jquery-ui.min.js}"></script>
    <script th:src="@{/user/js/jquery.slicknav.js}"></script>
    <script th:src="@{/user/js/mixitup.min.js}"></script>
    <script th:src="@{/user/js/owl.carousel.min.js}"></script>
    <script th:src="@{/user/js/main.js}"></script>
</body>

</html>