<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user/index :: dynamic(~{::main})}">

<head>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
</head>

<body>
	<!-- 	<main id="LoginForm">
		<div class="container">
			<h1 class="form-heading">Quên Mật Khẩu</h1>
			<div class="login-form">
				<div style="height:280px;" class="main-div">
					<div class="panel">
						<h2 style="margin-bottom:30px">Quên Mật Khẩu</h2>
						<div style="text-align: center" th:if="${error != null}">
							<p id="form-message" class="text-danger form-message">[[${error}]]</p>
						</div>
						<div style="text-align: center" th:if="${message != null}">
							<p class="text-success">[[${message}]]</p>
						</div>
					</div>

					<form th:action="@{/forgot_password}" method="post">
						<div class="form-group">
							<input name="email" type="email" class="form-control" id="inputEmail"
								placeholder="Email Address">
						</div>
						<button type="submit" class="btn btn-primary">Gửi</button>
					</form>
				</div>
				<p class="botto-text"> Designed by Sunil Rajput</p>
			</div>
		</div>
	</main> -->
	<main id="LoginForm">
			<section class="breadcrumb-section set-bg"
			data-setbg="/user/img/breadcrumb.jpg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="breadcrumb__text">
							<h2>Thay Đổi Mật Khẩu</h2>
							<div class="breadcrumb__option">
								<a href="./index.html" th:text="#{img.title}">Trang chủ</a> <span>Thay Đổi Mật Khẩu</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<form name="frmResetPW" th:action="@{/reset_password}" method="post">
			<input type="hidden" name="token" th:value="${token}" />
			<section class="vh-70" style="background: #23CFC4;background: linear-gradient(to top, #23CFC4 0%, #1F77CF 100%);">
				<div class="container py-5 h-75">
					<div
						class="row d-flex justify-content-center align-items-center h-75">
						<div class="col-12 col-md-8 col-lg-6 col-xl-5">
							<div class="card shadow-2-strong" style="border-radius: 1rem;">
								<div class="card-body p-5 text-center">

									<h2 class="text-uppercase text-center mb-5">Thay Đổi Mật Khẩu</h2>
									<div class="form-group pass_show">
										<input ng-model="password" required minlength="6" name="password" id="password" type="password" class="form-control" 
											placeholder="Mật Khẩu Mới">
										<div class="text-danger font-italic" ng-show="frmResetPW.password.$touched && resetPW.password.$invalid">Mật khẩu phải 6 kí tự trở lên</div>
									</div>
									<div class="form-group pass_show">
										<input ng-model="confirm" required minlength="6" type="password" class="form-control" name="confirm" id="confirm"
											placeholder="Xác Nhận Mật Khẩu" oninput="checkPasswordMatch(this);">
										<div class="text-danger font-italic" ng-show="frmResetPW.confirm.$touched && resetPW.confirm.$invalid">Mật khẩu phải 6 kí tự trở lên</div>
									</div>
									<button class="btn btn-lg btn-block btn-primary" type="submit">
										Thay Đổi Mật Khẩu
									</button>
									 <div class="form-check d-flex justify-content-center">
						                  <label class="form-check-label" for="form2Example3g">
						                    Bạn đã có tài khoản ? <a href="/security/login" class="text-body">
						                    <u>Đăng nhập</u></a>
						                  </label>
						             </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</form>
		<script>
			function checkPasswordMatch(fieldConfirmPassword) {
		        if(fieldConfirmPassword.value == "" || $("#password").val() == ""){
		        	fieldConfirmPassword.setCustomValidity("Không để trống ô nhập!");
		        	$("#password").val().setCustomValidity("Không để trống ô nhập!");
		        }else if (fieldConfirmPassword.value !== $("#password").val()) {
		            fieldConfirmPassword.setCustomValidity("Mật khẩu không trùng khớp!");
		        } else {
		            fieldConfirmPassword.setCustomValidity("");
		        }
		    }
		</script>
	</main>
</body>

</html>