<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tạo mới mật khẩu</title>
    <<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" th:href="@{/user/css/login.css}" type="text/css">
	
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   	<style>
   		.pass_show {
            position: relative
        }

        .pass_show .ptxt {

            position: absolute;

            top: 50%;

            right: 10px;

            z-index: 1;

            color: #f36c01;

            margin-top: -10px;

            cursor: pointer;

            transition: .3s ease all;

        }

        .pass_show .ptxt:hover {
            color: #333333;
        }
   	</style>
</head>

<body>
	<main id="LoginForm">
		<div class="container">
			<h1 class="form-heading">Thay Đổi Mật Khẩu</h1>
			<div class="login-form">
				<div style="height:290px;margin-bottom:30px" class="main-div">
					<div class="panel">
						<h2>Thay Đổi Mật Khẩu</h2>
					</div>
					<form th:action="@{/reset_password}" method="post">
						<input type="hidden" name="token" th:value="${token}" />
						<div class="form-group pass_show">
							<input name="password" id="password" type="password" class="form-control" 
								placeholder="Mật khẩu mới" required autofocus>
						</div>
						<div class="form-group pass_show">
							<input type="password" class="form-control"
								placeholder="Xác nhận mật khẩu" required oninput="checkPasswordMatch(this);">
						</div>
						<button type="submit" class="btn btn-primary">Gửi</button>
					</form>
				</div>
				<p class="botto-text"> Designed by Sunil Rajput</p>
			</div>
		</div>
		</div>
	</main>
<script>
	//Bắt lỗi không trùng password
    function checkPasswordMatch(fieldConfirmPassword) {
        if (fieldConfirmPassword.value !== $("#password").val()) {
            fieldConfirmPassword.setCustomValidity("Mật khẩu không trùng khớp!");
        } else {
            fieldConfirmPassword.setCustomValidity("");
        }
    }

    $(document).ready(function () {
        $('.pass_show').append('<span class="ptxt">Hiện</span>');
    });


    $(document).on('click', '.pass_show .ptxt', function () {

        $(this).text($(this).text() == "Hiện" ? "Ẩn" : "Hiện");

        $(this).prev().attr('type', function (index, attr) {
            return attr == 'password' ? 'text' : 'password';
        });

    });
</script>
</body>

</html>