<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/index :: dynamic(~{::main})}">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thanh toán thành công</title>
    <!-- favicon -->
    <link rel="shortcut icon" th:href="@{/assets/img/logoNiceIco.ico}">
    <!-- date jquery -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <!-- remixicon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" th:href="@{/assets/css/style.nicetravel.css}" />
    <!-- slick sdn css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
    <!-- css responsive -->
    <link rel="stylesheet" th:href="@{/assets/css/style.responsive.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.payment-success-fail.css}">
</head>
<body>
	<!-- ------------------------------ main ------------------------------ -->
    <main class="main" th:object="${order}">
           <section class="h-100 h-custom" style="background: rgb(135,135,135);
				background: linear-gradient(0deg, rgba(135,135,135,1) 0%, rgba(194,188,188,1) 100%);">
			<div class="container py-5 h-100">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-7">
						<div class="card card-registration card-registration-2"
							style="border-radius: 25px;">
							<div class="card-body p-0">
								<div class="row g-0">
									<div class="col-lg-12" >
										<div class="p-5" >
											<!-- product -->
											<div class="d-flex justify-content-between mb-1">
												<h3 class="fw-bold mb-1 mt-2 pt-1 text-center m-auto text-uppercase">Cảm ơn [[${account.fullname}]] đã mua sắm</h3>
											</div>
											<div class="d-flex justify-content-between mb-1">
												<h4 style="border: 2px solid black;
      											border-radius: 10px;padding: 5px; " class="fw-bold text-center m-auto text-uppercase">
      											Đơn Hàng #[[${order.order_id}]] <span class="badge badge-success">Đã thanh toán</span></h1>
      											</h4>
											</div>
											<div class="d-flex justify-content-between mb-1">
												<h6 class="fw-bold mb-1 mt-2 pt-1 text-center m-auto text-uppercase">
      											Thời gian mua Hàng : [[${order.orderdate}]]
      											</h6>
											</div>
											<hr class="my-4 bg-dark">
											<table class="table table-striped">
											  <thead>
											    <tr>
											      <th scope="col">Tên Mặt Hàng</th>
											      <th scope="col">Giá</th>
											      <th scope="col">Số Lượng</th>
											      <th scope="col">Thành Tiền</th>
											    </tr>
											  </thead>
											  <tbody>
											    <tr th:each="detail:*{orderDetails}" th:object="${detail}">
											      <td>[[*{product.name}]]</td>
											      <td>[[*{#numbers.formatInteger(totalPrice,3,'POINT')}]]</td>
											      <td class="text-center">[[*{totalQuantity}]]</td>
											      <td class="text-center">[[*{#numbers.formatInteger(totalPrice*totalQuantity,3,'POINT')}]]</td>
											    </tr>
											  </tbody>
											</table>
											<div class="d-flex justify-content-between mb-1">
												<h5 style="margin-left: 260px; word-spacing:1px; letter-spacing: 2px " class="font-weight-bold mb-1 mt-2 pt-1 text-uppercase">Tổng thanh toán : [[*{#numbers.formatInteger(totalPrice,3,'POINT')}]]</h5>
											</div>
											<hr class="my-4 bg-dark">	
											<form method="post" >
  												<input style="display:none" type="text">
												<input style="display:none" type="text">
  											  <div class="form-group">
											    <span class="text-danger">*</span><label>Tên Khách Hàng : </label> 
											    <label th:text="*{account.fullname}"></label>
											  </div>
  											  <div class="form-group">
											    <span class="text-danger">*</span><label>Số Điện Thoại : </label> 
											    <label  th:text="*{phone}"></label>
											  </div>
  											  <div class="form-group">
											    <span class="text-danger">*</span><label>Địa chỉ : </label> 
											    <label th:text="*{address}"></label>
											  </div>
											  <div class="form-group">
											    <label>Ghi Chú Của Bạn : </label>
											    <label th:text="*{notes}"></label>
											  </div>
											  <hr class="my-4 bg-dark">
											  <h5 class="mb-0 btn btn-info text-white">
													<i class="bi bi-columns-gap"></i> 
													<a  th:href="@{/order/list}" class="">
														Theo Dõi Đơn Hàng
													</a>
											  </h5>
											 <!-- <button class="btn btn-primary" type="submit" id="bt" onclick="print()" value="Print PDF" >Print PDF</button>-->
											  <!--</form>-->
											  </form>
											   
										</div>
									</div>
							</div>
					</div>
					</div>
				</div>
				</div>
			</div>
		</section>
    </main>
</body>
</html>