<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/admin/fragments :: header">

</head>
<!--
`body` tag options:
  Apply one or more of the following classes to to the body tag
  to get the desired effect
  * sidebar-collapse
  * sidebar-mini
-->

<body class="hold-transition sidebar-mini">
	<div class="wrapper">
		<!-- Navbar -->
		<nav class="main-header navbar navbar-expand navbar-white navbar-light" th:replace="/admin/fragments :: navbar">
		</nav>
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->
		<aside th:replace="/admin/fragments :: sidebar">
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<!-- WRITE TITLE OF PAGE IN FUTURE -->


						</div><!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<!-- WRITE LINK OF PAGE IN FUTURE -->


							</ol>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
					
						<!-- lọc theo ngày -->
						<div class="admin-search-date-1">
							<form th:action="@{/admin-order}" method="post">
								<div class="row">
									<div class="col">
										<input required th:value="${day}" name="day" type="date" class="form-control">
									</div>
									<div class="col">
										<input required th:value="${end}" name="end" type="date" class="form-control">
									</div>
									<div class="col">
										<button class="btn btn-primary" style="height: auto;min-height: 43px;"><i
												class='bx bx-search-alt'></i> Tìm</button>
									</div>
								</div>
							</form>
						</div>
						<!-- table category -->
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Id</th>
									<th>Username</th>
									<th>Ngày Thực Hiện</th>
									<th>Hoạt Động</th>
								</tr>
							</thead>
							<tbody class="h5">
								<tr th:each="behaviors:${behavior}">
									<td>[[${behaviors.behaviorId}]]</td>
									<td class="ml-3 mt-3">[[${behaviors.account.username}]]</td>
									<td>
										<h4><span
												class="badge badge-primary">[[${#dates.format(behaviors.createDate,"dd-MM-yyyy
												hh:mm:ss")}]]</span></h4>
									</td>
									<td class="badge badge-warning mt-2">[[${behaviors.description}]]</td>
								</tr>
							</tbody>
						</table>
					<div class="text-center" style="margin-left:450px">
							<nav aria-label="Page navigation example" th:if="${totalPage >1}">
								<ul class="pagination justify-content-center">
									<li class="page-item" th:class="${currentPage == 1} ? 'disabled' : ''">
										<a th:href="@{${currentPage > 1} ? ${'?page=' + (currentPage-1)} :''}"
											class="page-link" aria-label="Previous">
											<span aria-hidden="true">&laquo;</span>
											<span class="sr-only">Previous</span>
										</a>
									</li>
									<li th:each="i : ${#numbers.sequence(1,totalPage)}" class="page-item">
										<a class="page-link" th:href="@{'?page='+ ${i} }" th:text="${i}"></a>
									</li>
									<li class="page-item" th:class="${currentPage == totalPage} ? 'disabled' : ''">
										<a th:href="@{${currentPage < totalPage} ? ${'?page=' + (currentPage+1)} : '' }"
											class="page-link" href="#" aria-label="Next">
											<span aria-hidden="true">&raquo;</span>
											<span class="sr-only">Next</span>
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>

				</div>

				<!-- /.container-fluid -->
			</div>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->


		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>

	</div>
	<!-- ./wrapper -->

	<!-- REQUIRED SCRIPTS -->


	<div th:replace="/admin/fragments :: scripts">
	</div>

</body>

</html>