<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/admin/fragments :: header">

</head>
<!--
`body` tag options:
  Apply one or more of the following classes to to the body tag
  to get the desired effect
  * sidebar-collapse
  * sidebar-mini
-->

<body class="hold-transition sidebar-mini">
	<div ng-app="myimage" ng-controller="image-ctrl" class="wrapper">
		<!---->
		<nav class="main-header navbar navbar-expand navbar-white navbar-light" th:replace="/admin/fragments :: navbar">
		</nav>
		<aside th:replace="/admin/fragments :: sidebar">
		</aside>

		<div class="content-wrapper">
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<nav class="navbar navbar-light bg-light">
						  <form class="form-inline">
						    <input class="form-control mr-sm-2" type="search" placeholder="Search"
						    	ng-model="form.keyword" aria-label="Search">
						    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
						    	ng-click="search(form.keyword)">Search</button>
						  </form>
						</nav>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
							</ol>
						</div>
					</div>
				</div>
			</div>

			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<table class="table table-striped">
							<thead>
								<tr class="h5">
									<th class="align-middle" scope="col">#</th>
									<th class="align-middle" scope="col">Name</th>
									<th class="align-middle" scope="col">Image</th>
									<th class="align-middle" scope="col">Product</th>
									<th class="align-middle" scope="col">Edit</th>
								</tr>
							</thead>
							<tbody ng-repeat="item in pager.items">
								<tr class="h6">
									<th class="align-middle" scope="row">{{item.image_id}}</th>
									<td class="align-middle">{{item.name}}</td>
									<td class="align-middle">
										<img alt="" th:src="@{|/photos/products/{{item.name}}|}"
											style="width: 100px; height: 100px;">
									</td>
									<td class="align-middle">{{item.product.name}}</td>
									<td>
										<a class="btn btn-primary mt-4 align-center" ng-click="edit(item)"
											th:text="'Edit'"></a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="panel-footer" style="margin-left:400px;margin-bottom:20px">
							<button ng-click="pager.first()" class="btn btn-danger">
								<< </button>
									<button ng-click="pager.prev()" class="btn btn-primary">
										< </button>
											<button class="btn btn-success">{{pager.page + 1}} of
												{{pager.count}}</button>
											<button ng-click="pager.next()" class="btn btn-primary">
												>
											</button>
											<button ng-click="pager.last()" class="btn btn-danger">
												>>
											</button>
						</div>
						<div class="col-12">
							<!-- general form elements -->
							<div id="form" class="card card-primary">
								<div class="card-header">
									<h3 class="card-title">Image Details</h3>
								</div>
								<form >
									<div class="card-body">
										<div class="row">
											<div class="col-8">
												<div style="display:none" class="form-group">
													<label for="name">ID</label>
													<input ng-model="form.image_id" type="text" class="form-control"
														id="image_id" name="image_id" placeholder="Image Name">
												</div>
												<div style="display:none" class="form-group">
													<label for="name">Name</label>
													<input ng-model="form.name" type="text" class="form-control"
														id="name" name="name" placeholder="Image Name">
												</div>
												<div class="form-group">
													<label for="product">Product</label>
													<select ng-model="form.product.product_id" id="product"
														class="form-control" name="product">
														<option ng-repeat="p in products" ng-value="p.product_id">{{p.name}}
														</option>
													</select>
												</div>
											</div>
											<div class="col-4">
												<!---->
												<div class="card card-primary card-outline">
													<div class="card-body box-profile">
														<div class="text-center">
															<!--<img name="image" ng-src="{{'/user/img/product/' + form.image}"  id="output" class="profile-user-img img-fluid img-circle" style="width: 212px; height: 212px" alt="User profile picture" >-->
															<img ng-src="{{'/photos/products/' + form.name}}"
																style="max-width:100%;" height="200px">
														</div>
														<input type="file" class="form-control" id="image"
															onchange="angular.element(this).scope().imageChanged(this.files)">
														<br />
														<div class="form-group">
															<label for="inputFile">Avatar</label>
															<div class="input-group">
																<div class="custom-file">
																	<!--    <p><input onchange="angular.element(this).scope().imageChanged(this.files)"  path="image" type="file" accept="image/*" name="imageFile" id="file"  style="display: none;"></p>
									    							<p><label for="file" style="cursor: pointer;">Upload Image</label></p>-->
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="form-row p-2">
										<button ng-if="form.image_id==null" ng-click="create()" class="btn btn-primary mr-3">
											<b class="glyphicon glyphicon-plus"></b>Create
										</button>
										<button ng-if="form.image_id!=null" ng-click="update()" class="btn btn-warning mr-3">
											<b class="glyphicon glyphicon-save"></b>Update
										</button>
										<button ng-if="form.image_id!=null" ng-click="delete()" class="btn btn-danger mr-3">
											<b class="glyphicon glyphicon-trash"></b>Delete
										</button>
										<button ng-click="reset()" class="btn btn-info">
											<b class="glyphicon glyphicon-refresh"></b>Reset
										</button>
									</div>
								</form>

							</div>
							<!-- /.card -->
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
	</div>
	<!-- ./wrapper -->

	<!-- REQUIRED SCRIPTS -->


	<div th:replace="/admin/fragments :: scripts">
	</div>
	<script>
		const app = angular.module("myimage", []);
		app.controller("image-ctrl", function ($scope, $http) {
			
			$scope.items = [];
			$scope.products =[];
			$scope.form = {};
			
			$scope.initialize = function () {
				//load products
				$http.get("/rest/images").then(resp => {
					$scope.items = resp.data;
					$scope.items.forEach(item => {
						$scope.form.name = "user.png";
					})
				});
				//load categories trong combobox form admin
				$http.get("/rest/products/enable").then(resp => {
					$scope.products = resp.data;
				})

			}
			//Khởi đầu
			$scope.initialize();
			
			// Search by keyword
			$scope.search = function (keyword) {
				//var keyword = $scope.form.keyword;
				$http.get(`/rest/images/keyword/${keyword}`).then(resp => {		
					$scope.items = resp.data;
				});
			}

			//Xóa form
			$scope.reset = function () {
				$scope.form = {
					name: "user.png"
				}
			}

			//Hiển thị lên form
			$scope.edit = function (item) {
				$scope.form = angular.copy(item);
				//Chuyển sang tab form
				//$(".nav-tabs a:eq(0)").tab("show");
				$('html, body').animate({
					scrollTop: $('#form').offset().top
				}, 1000);
			}

			//Thêm sản phẩm mới
			$scope.create = function () {
				for (var i = 0; i < $scope.items.length; i++) {
		             if($scope.form.name == $scope.items[i].name){
		             	alert("Ảnh này đã tồn tại");
		               	return;
		             }
	            }
				if(document.getElementById("product").selectedIndex < 0){
					alert("Chưa chọn sản phẩm!");
					return;
				}
				/*else if(document.getElementById("image").value == ""){
					alert("Chưa chọn ảnh")
					return;
				}*/
				else{
					var item = angular.copy($scope.form);
				}
				
				$http.post(`/rest/images`, item).then(resp => {
					$scope.items.push(resp.data);
					$scope.reset();
					alert("Thêm mới sản phẩm thành công!");
				}).catch(error => {
					alert("Lỗi thêm mới sản phẩm!");
					console.log("Error", error);
				});
			}



			//Cập nhật sản phẩm
			$scope.update = function () {
				for (var i = 0; i < $scope.items.length; i++) {
		             if($scope.form.name == $scope.items[i].name && $scope.form.image_id != $scope.items[i].image_id){
		             	alert("Ảnh này đã tồn tại");
		               	return;
		             }
	            }
				if(document.getElementById("product").selectedIndex < 0){
					alert("Chưa chọn sản phẩm!");
					return;
				}
			/*	else if(document.getElementById("image").value == ""){
					alert("Chưa chọn ảnh")
					return;
				}*/
				else{
					var item = angular.copy($scope.form);
				}
				$http.put(`/rest/images/${item.image_id}`, item).then(resp => {
					var index = $scope.items.findIndex(p => p.id == item.id);
					$scope.items[index] = item;
					alert("Cập nhật sản phẩm thành công!");
				})
					.catch(error => {
						alert("Lỗi cập nhật sản phẩm!");
						console.log("Error", error);
					});
			}

			//Xóa sản phẩm
			$scope.delete = function (item) {
				var item = angular.copy($scope.form);
				if (confirm("Bạn muốn xóa sản phẩm này?")) {
					$http.delete(`/rest/images/deleteLogical/${item.image_id}`).then(resp => {
						var index = $scope.items.findIndex(p => p.id == item.id);
						$scope.items.splice(index, 1);
						$scope.reset();
						alert("Xóa sản phẩm thành công!");
					}).catch(error => {
						alert("Lỗi xóa sản phẩm!");
						console.log("Error", error);
					})
				}
			}

			//Upload hình
			$scope.imageChanged = function (files) {
				var data = new FormData();
				data.append('file', files[0]);
				$http.post('/rest/upload/images', data, {
					transformRequest: angular.identity,
					headers: {'Content-Type': undefined}
				}).then(resp => {
					$scope.form.name = resp.data.name;
				}).catch(error => {
					alert("Lỗi upload hình ảnh");
					console.log("Error", error);
				})
			}


			//Phân trang
			$scope.pager = {
				page: 0,
				size: 5,
				get items() {
					var start = this.page * this.size;
					return $scope.items.slice(start, start + this.size)
				},
				get count() {
					return Math.ceil(1.0 * $scope.items.length / this.size);
				},
				first() {
					this.page = 0;
				},
				prev() {
					this.page--;
					if (this.page < 0) {
						this.last();
					}
				},
				next() {
					this.page++;
					if (this.page >= this.count) {
						this.first();
					}
				},
				last() {
					this.page = this.count - 1;
				},

			}

		});
	</script>
</body>

</html>