<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/admin/fragments :: header">

</head>
<!--
`body` tag options:
  Apply one or more of the following classes to to the body tag
  to get the desired effect
  * sidebar-collapse
  * sidebar-mini
-->

<body class="hold-transition sidebar-mini" th:object="${order}">
	<div class="wrapper">
		<!-- Navbar -->
		<nav class="main-header navbar navbar-expand navbar-white navbar-light" th:replace="/admin/fragments :: navbar">
		</nav>
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->
		<aside th:replace="/admin/fragments :: sidebar">
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<!-- WRITE TITLE OF PAGE IN FUTURE -->


						</div><!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<!-- WRITE LINK OF PAGE IN FUTURE -->
							</ol>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<div class="content">
				<div class="container-fluid">
					<form method="post" >
						<input style="display:none" type="text" th:value="${order.order_id}" name="orderId">
						<input style="display:none" type="text" th:value="${order.totalPrice}" name="price">
						<div class="row" >
							<div class="card col-lg-6">
								<div class="card-header text-white bg-primary text-uppercase">
								Chi Tiết Đơn Hàng	
								</div>
								<div class="card-body w-50" >
									<!--<form>-->
									<div class="form-group">
										<div>Mã Đơn Hàng</div>
										<input th:field="*{order_id}" class="form-control" >
									</div>
									<div class="form-group">
										<div>Tên Khách Hàng</div>
										<input th:field="*{account.fullname}" class="form-control" >
									</div>
									<div class="form-group">
										<div>Số Điện Khách</div>
										<input th:field="*{phone}" class="form-control" >
									</div>
									<div class="form-group">
										<div>Thời Gian Mua Hàng</div>
										<input th:field="*{orderdate}" class="form-control" >
									</div>
									<div class="form-group">
										<div>Địa Chỉ</div>
										<textarea th:field="*{address}" class="form-control" ></textarea>
									</div>
									<!--</form>-->
								</div>
							</div>
							<!-- table -->
								<div class="card col-lg-6">
								<div class="card-header text-white bg-primary text-uppercase">
									Chi Tiết Hóa Đơn
								</div>
								<table class="table mb-2 mt-4">
								  <thead class="thead-dark">
								    <tr>
								      <th scope="col">ID</th>
								      <th scope="col">SP</th>
								      <th scope="col">Giá</th>
								      <th scope="col">SL</th>
								      <th scope="col">Thành Giá</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr th:each="detail:*{orderDetails}" th:object="${detail}">
										<td class="shoping__product">[[*{product.product_id}]]</td>
										<td>[[*{product.name}]]</td>
										<td>[[*{#numbers.formatInteger(totalPrice,3,'POINT')}]]</td>
										<td>[[*{totalQuantity}]]</td>
										<td>[[*{#numbers.formatInteger(totalPrice*totalQuantity,3,'POINT')}]]</td>
									</tr>
								  </tbody>
								</table>
								<hr class="my-4 bg-dark">
								<div class="d-flex justify-content-between mb-1">
									<h5 class="fw-bold mb-1 mt-2 pt-1 text-uppercase">Thành tiền: [[*{#numbers.formatInteger(totalPrice,3,'POINT')}]] VNĐ</h5>
								</div>
								<a class="btn btn-warning" th:href="@{/admin-order}" role="button">Trở về</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>	
	</div>


	<aside class="control-sidebar control-sidebar-dark">
		<!-- Control sidebar content goes here -->
	</aside>
	</div>
	<!-- ./wrapper -->

	<!-- REQUIRED SCRIPTS -->


	<div th:replace="/admin/fragments :: scripts">
	</div>

</body>

</html>