<div>
	  <!-- Footer Section Begin -->
    <footer class="footer spad" style="background-color: rgb(220, 219, 219)">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img th:src="@{/user/img/logo3.png}" alt=""></a>
                        </div>
                        <ul>
                            <li><i class="bi bi-house-door-fill" th:text="#{footer.address}" 
                            ></i></li>
                            <li><i class="bi bi-telephone-fill" th:text="#{footer.phone}"></i></li>
                            <li><i class="bi bi-envelope-fill" th:text="#{footer.email}"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6 th:text="#{footer.fivehouse}" >Về Five House Market</h6>
                        <ul>
                            <li><a href="#" th:text="#{footer.contact}">Liên hệ</a></li>
                            <li><a href="#" th:text="#{footer.introduce}" >Giới thiệu</a></li>
                            <li><a href="#" th:text="#{footer.returnPolicy}" > Chính Sách đổi trả</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                    <h6 th:text="#{footer.product}">Sản phẩm</h6>
                    <div class="row row-cols-1 row-cols-md-3">
					  <div class="col mb-4">
					    <div class="card h-100">
					      <img th:src="@{/user/img/product/CaiBeXanh.jpg}" class="card-img-top" alt="...">
					    </div>
					  </div>
					  <div class="col mb-4">
					    <div class="card h-100">
					      <img th:src="@{/user/img/product/bido.jpg}" class="card-img-top" alt="...">
					    </div>
					  </div>
					  <div class="col mb-4">
						  <div class="card h-100">
						      <img th:src="@{/user/img/product/buoi5roi.png}" class="card-img-top" alt="...">
						  </div>
					  </div>
					  <div class="col mb-4">
					    <div class="card h-100">
					      <img th:src="@{/user/img/product/nho.jpg}" class="card-img-top" alt="...">
					    </div>
					  </div>
					  <div class="col mb-4">
					    <div class="card h-100">
					      <img th:src="@{/user/img/product/ngo1.png}" class="card-img-top" alt="...">
					    </div>
					  </div>
					  <div class="col mb-4">
					    <div class="card h-100">
					      <img th:src="@{/user/img/product/product-7.jpg}" class="card-img-top" alt="...">
					    </div>
					  </div>					  					  
					</div>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
				<div class="text-center p-3" style="background-color: rgb(190, 190, 190)">
				    © 2022 Copyright:
				    <a class="text-white" href="http://localhost:8080/index">fivehousemarket.com</a>
				  </div>
                </div>
            </div> 
        </div>
    </footer>
</div>