<div>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	<!-- Header Section Begin -->
	<header class="header">
		<div class="header__top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="header__top__left">
							<ul>
								<li sec:authorize="isAuthenticated()">
									<i class="bi bi-person-circle"></i>Welcome,
									<!----><span sec:authentication="name"></span>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 ">
						<div class="header__top__right">
							<!--<div class="header__top__right__language">

								<img th:src="@{/user/img/language.png}" alt="">
								<div>Tiếng Anh</div>
								<span class="arrow_carrot-down"></span>
								<ul>
									<li><a href="?lang=vi">Tiếng Việt</a></li>
									<li><a href="?lang=en">Tiếng Anh</a></li>
								</ul>
							</div>-->
							<div class="header__top__right__language">
								<div sec:authorize="!isAuthenticated()">
									<a style="font-size: 14px;color: #1c1c1c;" th:href="@{/security/login}" th:text="#{nav.login}">Đăng
										Nhập</a>
								</div>
								<div sec:authorize="isAuthenticated()">
									<a style="font-size: 14px;color: #1c1c1c;" th:href="@{/security/logoff}" th:text="#{nav.logout}" >Đăng
										Xuất</a>
								</div>
							</div>
							<div class="header__top__right__language">
								<a style="font-size: 14px;color: #1c1c1c;" th:href="@{/user/register}" th:text="#{nav.register}">Đăng Ký</a>
							</div>
							<div class="header__top__right__language">
								<div sec:authorize="isAuthenticated()">
									<a style="font-size: 14px;color: #1c1c1c;" th:href="@{/user/infor}"><i
											class="fa fa-user"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<div class="header__logo">
				<a th:href="@{/index}"><img th:src="@{/user/img/logo3.png}" height="38px" width="190px" alt=""></a>
			</div>
		</div>
		<div class="col-lg-6">
			<nav class="header__menu">
				<ul>
					<li class="active"><a th:href="@{/index}" th:text="#{nav.home}">Trang Chủ</a></li>
					<li><a th:href="@{/user/product}" th:text="#{nav.product}" >Mặt Hàng</a></li>
					<li><a th:href="@{/user/blog}" th:text="#{nav.blog}" >Blog</a></li>
					<li><a th:href="@{/contact}" th:text="#{nav.contact}" >Liên Hệ</a></li>
				</ul>
				<ul sec:authorize="isAuthenticated()">
					<li>
						<a style="margin-left:100px" th:href="@{/order/list}" th:text="#{nav.history}">Thông Tin Mua Hàng</a>
					</li>
	 				<li th:if="${#request.isUserInRole('Admin') or #request.isUserInRole('Staff')}">
						<a th:href="@{/admin}">Quản Lý Admin</a>
					</li> 
				</ul>
			</nav>
		</div>
		<div class="col-lg-3">
			<div class="header__cart">
				<ul>
					<!--'+*{username}}" -->
					<li th:if="${account!=null}" sec:authorize="isAuthenticated()" th:object="${account}">
						<a th:href="@{'/user/favorite?id='+*{account_id}}"><i class="fa fa-heart"></i>
							<span>[[${countLike}]]</span></a>
					</li>
					<li th:if="${account==null}" sec:authorize="isAuthenticated()" th:object="${session.currentUser}">
						<a th:href="@{'/user/favorite?id='+*{account_id}}"><i class="fa fa-heart"></i>
							<span>[[${countLikeFB_GG}]]</span></a>
					</li>
					<li><a th:href="@{/cart}"><i class="fa fa-shopping-bag"></i> <span >{{cart.count}} </span></a></li>
				</ul>
				<div class="header__cart__price">Tổng tiền: <span>{{cart.amount|number:0}} <sup>đ</sup> </span></div>
			</div>
		</div>
	</div>
	<div class="humberger__open">
		<i class="fa fa-bars"></i>
	</div>
</div>
</header>
<!-- Header Section End -->


</div>