<!-- Hero Section Begin -->
    <section >
        <div class="container">
            <div class="row">
            <div class="col-lg-3">
                
                </div>       
				  <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form th:action="@{/user/product}">
                                <input name="keywords" type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">Tìm Kiếm</button>
                            </form>
                        </div>
                
                    </div>

                </div>
            </div>
        </div>
    </section>